@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(255, 255, 255); /* Koyu arka plan */
    --foreground: rgb(0, 0, 0); /* AÃ§Ä±k metin */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Georgia, Helvetica, sans-serif;
}
@media (max-width: 320px) {
  .category-card {
    width: 100%; /* Mobilde kategori kartlarÄ± tam geniÅŸlikte olsun */
    padding: 10px; /* Mobilde daha kÃ¼Ã§Ã¼k padding */

    .category-card img {
      width: 100%; /* GÃ¶rsellerin tam geniÅŸlikte olmasÄ±nÄ± saÄŸlar */
      height: auto; /* GÃ¶rsellerin orantÄ±lÄ± olarak bÃ¼yÃ¼mesini saÄŸlar */
      object-fit: cover; /* GÃ¶rselleri kapsayÄ±cÄ±ya gÃ¶re dÃ¼zgÃ¼n ÅŸekilde yerleÅŸtirir */
    }
  }
}
